
.nav {
    font-size: 25px;
    color: rgb(192, 180, 15);
    font-family: 'Anton', sans-serif;
}
body {
    background-color: rgba(112, 71, 71, 0.342) ;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    list-style: outside ;
    list-style: inside;
}
.div{
    color: yellow;
}
.başlık{
font-size: 45px;

}
